{% load static %}
<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="container position-sticky pt-3">
    <ul class="nav flex-column">
      <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
      >
        <span>Dashboard</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
        </a>
      </h6>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expenses' %}">
          Expenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'income' %}">
          Income
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Statistics</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'expense_stats' %}">
          <span data-feather="file-text"></span>
          Expenses Statistics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'income_stats' %}">
          <span data-feather="file-text"></span>
            Income Statistics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'similarities' %}">
          <span data-feather="file-text"></span>
            Similarity Statistics
        </a>
      </li>
    </ul>
    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>User Settings</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'preferences' %}">
          <span data-feather="file-text"></span>
          Currency Type 
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reset-password' %}">
          <span data-feather="file-text"></span>
          Change Password  
        </a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
      >
        <span>Decision Tree</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
        </a>
      </h6>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'predictor' %}">
          Predictor
        </a>
      </li>
    </ul>
  </div>
</nav>
