{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h3>Reset Password</h3>
        </div>
       

<!-- Pills content -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form action="{% url 'reset-password' %}" method="post">
      {% csrf_token %}

      {% include 'partials/_messages.html' %}
 
 

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="email" class="form-control"
          id="emailField" value="{{ values.email }}" name="email" placeholder="Email"/>
      </div>
 
      <!-- Submit button -->
      <div class="text-center">
        <button type="submit" value="Submit" class="btn btn-primary btn-block mb-4 submit-btn">Submit</button>
      </div>

      <!-- Register buttons -->
      <div class="text-center">
        <p>You have an account? <a href="{% url 'login' %}">Log in</a></p>
      </div>
      <div class="text-center">
        <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
      </div>
    </form>
  </div>

</div>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
