{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">

      <div class="card-body">
        <div class="card-title py-3">
          <h3>Set new password</h3> </h3>
        </div>
 
        <form action="{% url 'set-new-password' uidb64 token %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="password" placeholder="Password" class="form-control form-control-sm"
              id="passwordField" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="password2" placeholder="Password Again" class="form-control form-control-sm"
              id="passwordField2" />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block submit-btn mb-3">Reset Password</button>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}